{% extends "base.html" %}
{% block content %}
<script>
});
{% if group %}
$(document).scrollTop( $(document).height() - $(window).height() );
  $(document).ready(function() {
    setInterval(function(){getgroup({{ id }})},3000);
  });
{% else %}
  $(document).ready(function() {
    setInterval(function(){getdm({{ id }})},3000);
  });
{% endif %}
</script>

<div id="messages" class="container-md">
{% for message in messages %} <!-- loops through all of the valid messages in the database, and presents them using bootstraps card styling -->
<div class="card">
  <div class="card-body">
    <p class="card-text">{{ message.username }} : {{ message.message }}</p>
  </div>
</div>
<br>
{% endfor %}
</div>
{% endblock %}
